
.wrapper{

}
.contact{
	background-color:#000000;
	color: #969696;
	display: flex;
	justify-content: space-between;
	margin-bottom: -30px;
}

.header-navigation{
	
	background: #0F0F0F;
	color: #FFFFFF
}

.header-logo{
	font-style: normal;
	font-weight: bold;
	font-size: 36px;
	line-height: 54px;
}

.navigation{
	list-style: none;
	display: flex;
	justify-content: flex-end;
}

.container1{
	

}

.contaoiner2{
	
}