
.wrapper{
	width: 1060px;
	margin:  0 auto;
	
}
.contact{
	background-color:#0F0F0F;
	font-family: PT Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	line-height: 16px;
	color: #969696;
	
}

.contact-header{
	height: 44px;
	display: flex;
	justify-content: space-between;
	align-items:center;
}

.header-navigation{
	background: #0F0F0F;
	border:1px solid ;
	
	
}

.header-logo{
	font-family: Post No Bills Jaffna;
	font-style: normal;
	font-weight: bold;
	font-size: 36px;
	line-height: 54px;
	color: #FFFFFF;
}

.navigation{
	
}

.nav-menu{
	display: flex;
	justify-content: space-between;
	align-items:center;
	height: 80px;
}

.nav-item{
	margin-left: 40px;
	list-style: none;
}

.nav-link{
	font-family: PT Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 18px;
	text-transform: uppercase;
	text-decoration: none;
}

.nav-link:hover, .nav-link:focus, .nav-link:active{
	opacity: 80%;
}

a{
	color: #FFFFFF;
}

.container1{
	background:url(/img/Rectangle3.jpg);
	height: 810px;
	left: 0px;
	top: 124px;
}

.logo-content{
	font-family: Post No Bills Jaffna;
	font-style: normal;
	font-weight: bold;
	font-size: 64px;
	line-height: 96px;
	text-align: center;
	color: #FFFFFF;
}

.city{
	font-family: PT Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 22px;
	line-height: 28px;
	text-align: center;
	text-transform: uppercase;
	color: #FFFFFF;
}

.textlorem{
	font-family: PT Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 150%;
	/* or 24px */

	text-align: center;
	text-transform: uppercase;

	color: #FFFFFF;
	
}

.content-centr{

}

.content-text{	
	  
}

.cetr{
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: center;
}