body{
    width:100%;
}

h2,h1,p {
    color: #fff;
}

.back{
    background:url(img/header-bg.png) no-repeat;  
}

li{
    list-style: none;
    color: #fff;
}

p{
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 12px;
    text-align:center;
    color: #FFFFFF;
    transform: rotate(-90deg);
}

h2{
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.5em;
}

h1{
    font-family: Banny;
    font-size: 96px;
    line-height: 0px;
  
}