/* lato-regular - latin */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: local('Lato Regular'), local('Lato-Regular'),
         url('../fonts/lato-v17-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/lato-v17-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* lato-700 - latin */
  @font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    src: local('Lato Bold'), local('Lato-Bold'),
         url('../fonts/lato-v17-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/lato-v17-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* lato-900 - latin */
  @font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 900;
    src: local('Lato Black'), local('Lato-Black'),
         url('../fonts/lato-v17-latin-900.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/lato-v17-latin-900.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

  html{
      box-sizing: border-box;
  }
  *, *::before, *::after{
      box-sizing: inherit;
  }

  body{
    font-family: 'Lato';
    font-style: normal;
    font-size: 16px;
    line-height: 1.2;
    font-weight: normal;
    color: #102746;

  }

  .wrapper{
      max-width: 1060px;
      margin: 0 auto;
      padding: 0 15px;
  }

  .wrapper-full{
      max-width: 1262px;
      margin: 0 auto;
      padding: 0 15px;
  }

  .section-title{
    font-weight: 500;
    font-size: 35px;
    line-height: 42px;
    position: relative;
    padding-bottom: 7px;
  }

  .section-title::after{
      display: block;
      content: '';
      width: 253px;
      height: 3px;
      background-color:#006DFE;
      position: absolute;
      bottom: 0;
      left: 0;
  }
  /*header styles start*/

  .header{
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      transition: .2s linear;
      padding-bottom: 20px;
      z-index: 999;
  }

  .header_active{
    background: #0E1D28;
  }

  .header_wrapper{
      display: flex;
      flex-wrap: wrap;
      align-items: flex-end;
      justify-content: space-between;
      padding-top: 56px;
  }

  .header_list{
      display: flex;
      flex-wrap: wrap;

  }

  .header_item{
      margin-right: 82px;
  }

  .header_item:last-child{
      margin-right: 0;
  }

  .header_link{
    font-size: 18px;
    line-height: 24px;
    color:#fff;
    text-decoration: none;
  }

  .header_link:hover, .header_link:focus, .header_link:active{
      opacity: .35;
  }

  .header_burger{
      display: none;
      width: 40px;
      height: 28px;
      position: relative;
  }

  .burger_line{
      display: block;
      width: 100%;
      height: 2px;
      background-color:#fff;
      position: absolute;
      left: 0;

  }

  .burger_line_ferst{
    top: 0;
  }

  .burger_line_second{
    top:50%;
    transform: translateY(-50%);
  }

  .burger_line_third{
    bottom: 0px;
  }

  img{
      max-width: 100%;
      height: auto;
  }

 /*header styles end*/



  /*intro styles start*/

  .intro{
       min-height: 100vh;
       background: url(../img/Hero.jpg) no-repeat center;
       background-size: cover;
       padding-top: 263px;
       padding-bottom: 300px;
  }

  .intro_title{
    max-width: 619px;
    font-weight: 500;
    font-size: 50px;
    line-height: 60px;
    color: #FFFFFF;
    margin-bottom: 22px;
  }

.intro-subtitle{
    max-width: 546px;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    margin-bottom: 59px;
}

.search-form_info
{
    display: flex;
    flex-wrap: wrap;

}

.search-form_field{
    width: 297px;
    background:transparent url(../img/svg/Oval.svg) no-repeat left 6px;
    background-size: 20px;
    border: 0;
    border-bottom: 2px solid #BFC0C5;
    margin-right: 60px;
    padding-left: 43px;
    padding-bottom: 22px;
    font-weight: 500;
    font-size: 18px;
    color: #FFFFFF;
}

.search-form_field::placeholder{
    font-weight: 500;
    font-size: 18px;
    color: #FFFFFF;
}

.serach-form_submit{
    padding: 15px 39px;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 24px;
    color:white;
    background: #1B7DFF;
    border: 0;
}

.serach-form_submit:hover,.serach-form_submit:focus, .serach-form_submit:active{
    background:#0b489a;
}
   /*intro styles end*/




   /*benefist styles start*/

    .benefits{
        margin-bottom: 131px;
    }

    .benefist_wrap{
        max-width: 1262px;
        background-color: #fff;
        margin: 0 auto;
        box-shadow: 0px 2px 20px rgba(21, 24, 36, 0.15993);
        position: relative;

    }

    .benefist_title{
        width: 100%;
        font-size: 35px;
        line-height: 42px;
        font-weight: 500;
        padding: 93px 100px 88px 100px;
        position: absolute;
        top: 0;
        left: 0;
        transform: translateY(-100%);
        background-color:#fff;
    }

    .benefist_cards{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 55px;
        padding: 0 100px;
    }

    .benefist_card{
        grid-column: span 1;
        margin-bottom: 112px;
    }

    .benefist_card-pic{
        max-width: 66px;
        margin-bottom: 37px;

    }

    .benefist_card-pic{
        display: block;
    }
    
    .benefist_card-title{
        font-weight: 500;
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 26px;
    }

    .benefist_card-desc{
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 39px;
    }

    .benefist_card_more{
        display: inline-block;
        padding-right: 59px;
        font-size: 16px;
        line-height: 24px;
        color: #006DFE;
        text-decoration: none;
        background:url(../img/svg/Shape.svg) no-repeat 95% center;
        transition: .2s all;
    }

    .benefist_card_more:hover, .benefist_card_more:focus{
        background:url(../img/svg/Shape.svg) no-repeat right center;
    }

   /*benefist styles end*/



   /*places styles start*/

   .places{
       margin-bottom: 131px;
   }

   .places-title{
       margin-right: 15px;
   }
  
   .places_caption{
       display: flex;
       flex-wrap: wrap;
       align-items: center;
       justify-content: space-between;
       margin-bottom: 36px;
   }

   .places_view-all{
    font-size: 16px;
    color: #006DFE;
    text-decoration: none;
    background:url(../img/svg/Shape.svg) no-repeat right center;
    padding-right: 59px;
}
    .places_view-all:hover, .places_view-all:focus{
        opacity: .65;
    }

    .places_cards{
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-column-gap: 10px;
        grid-row-gap: 10px;
    }

    .places_card{
        position: relative;
        overflow: hidden;
    }

    .places_card::after{
        display: block;
        content:'';
        width: 100%;
        height: 100%;
        background: rgba(21, 24, 36, 0.4);
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
    }

    .places_card-title{
        font-size: 50px;
        line-height: 60px;
        color:white;
        position: absolute;
        bottom: 27px;
        left: 29px;
        z-index: 3;
    }

    .places_card:hover .places_card-pic{
        transform: scale(1.05);
    }

    .places_card_size_lg{
        grid-column: span 3;
    }
    .places_card_size_sm{
        grid-column: span 2;
    }

    .places_card-pic{
        width: 100%;
        transition: .15sec all;
    }

    .places_card-link{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 4;
    }

    .places_card-pic_size_lg{
        height: 283px;
        object-fit: cover;
    }

    .places_card-pic_size_sm{

    }

   /*places styles end*/



/* Tours strat*/

    .tours{
        margin-bottom: 139px;
    }

    .tours_tour{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 108px ;
        align-items:center;
        margin-bottom: 77px;
    }

    .tour_info{
        padding-left: 47px;
    }

    .tour_title{
        font-weight: 500;
        font-size: 30px;
        line-height: 40px;
        margin-bottom: 85px;
    }

    .tour_desc{
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 58px;
    }

    .tour_more{
        font-size: 16px;
        color: #006DFE;
        text-decoration: none;
        background:url(../img/svg/Shape.svg) no-repeat right center;
        padding-right: 59px;
    }

    .tour_more:hover, .tour_more:focus{
        opacity: .65;
    }


/* Tours end*/ 

/*top start*/

    .top{
        margin-bottom: 86px;
    }

    .top_cards{
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-column-gap:  57px;
        grid-row-gap:  57px;
        margin-bottom: 144px;
    }

    .top_title{
        margin-bottom: 54px;
    }

    .top_card-pic{
        position: relative;
        margin-bottom: 45px;
    }

    .top_car{
        display: flex;
        flex-direction: column;
        grid-column: span 2;

    }

    .top_card-stats{
        display: flex;
        flex-wrap: wrap;
        align-items:center;
        position: absolute;
        justify-content: flex-end;
        bottom: 0;
        left: 0;
        width: 100%;
        background: rgba(21, 24, 36, 0.6);
        padding: 16px 25px;
    }

    .top_card-title{
        font-weight: 500;
        font-size: 18px;
        line-height: 24px;
        color:#fff;
        margin: 0 auto 0 0;
    }

    .top_card-likes{
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        color:#fff;
        padding-right: 20px;
        background:url(../img/like.svg) no-repeat right;
        margin-right: 14px;
    }

    .top_card-comments{
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        color:#fff;
        padding-right: 23px;
        background:url(../img/comm.svg) no-repeat right;
    }

    .top_card-desc{
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 37px;
    }

    .top_card-more{
        width: 118px;
        padding: 12px 19px;
        background: #006DFE;
        color:#fff;
        font-size: 16px;
        text-decoration: none;
        margin: auto 0 0 0;
    }

    .top_card-more:hover, .top_card-more:focus, .top_card-more:active{
        background:#0b489a;
    }



/*top end*/



/* video start*/

.video{
    width: 100%;
}

.videos_wrapper{
    max-width: 1440px;
    margin: 0 auto;
    position: relative;
}

.video_item{
    padding-top: 56.25%;
}

.vedeo_element{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/*video end*/



/*footer start*/

.footer{
    background: #0E1D28;
    padding: 119px 0;
}

.footer_item{
    display: flex;
    flex-wrap: wrap;
}

.footer_logo{
    width: 50%;
}

.footer_nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 50%;
}

.footer_menu-title{
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
}

.footer_menu-link{
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color:#fff;
    text-decoration: none;
}

.footer_menu-link:hover, .footer_menu-link:active, .footer_menu-link:focus{
    opacity: .75;
}

/*footer end*/

/*media start*/

@media screen and (max-width: 960px) {

    .benefits{
        margin-bottom: 75px;
    }

    .serach-form_field{
        margin-bottom: 25px;
    }

    .benefist_card{
        margin-bottom: 60px;
        padding: 0 15px;
        grid-column-gap: 35px;
    }

    .benefist_title{
        padding: 55px 15px;
    }

    .benefist_wrap{
        box-shadow: none;
    }

    .places_card-pic_size_lg{
        grid-column:  span 6;
    }

    .places_card-pic_size_sm{
        grid-column: span 6;
    }

    .tours_tour{
        grid-column-gap: 35px;
    }

    .tours_info{
        padding-left: 0;
    }

    .tours_title{
        margin-bottom: 15px;
    }

    .tour_desc{
        margin-bottom: 15px;
    }

    .top_cards{
        grid-column-gap: 25px;
        grid-row-gap: 5px;
    }

    .top_cards{
        grid-column: span 3;
    }

    .top_card-pic{
        margin-bottom: 25px;
    }

    .footer{
        padding: 25px;
    }
}

@media screen and (max-width: 767px) {

    .section-title{
        margin-bottom: 25px;   
    }

    .section-title::after{
        width: 78px;
    }


    .header_burger{
       display: block; 
    }

    .header_wrapper{
        padding-top: 28px;
    }

    .header_nav{
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        background-color:#000;
        z-index: 10;
        padding: 75px; 
        transform: translateX(100%);
        transition: .2s all linear;
    }

    .header_nav-active{
        transform: translateX(0);
    }

    .header_item{
        width: 100%;
        margin-right: 0;
        margin-bottom: 30px;

    }

    .header_item:last-child{
        margin-bottom: 0;
    }

    .header_link{
        font-size: 42px;
        line-height: 48px;
    }

    .header_nav-close{
        width: 40px;
        height: 40px;
        position: absolute;
        top: 20px;
        right: 20px;
        z-index: 11;
    }

    .header_nav-close-line{
        display: block;
        height: 2px;
        width: 100%;
        background-color:#fff;
        position: absolute;
        top: 50%;
        
    }

    .header_nav-close-line:first-child{
        transform: translateY(-50%) rotate(45deg);
    }

    .header_nav-close-line:last-child{
        transform: translateY(-50%) rotate(-45deg);
    }

    .intro{
        padding-top: 125px;
    }

    .intro_title{
        font-size: 32px;
        line-height: 48px;
    }

    .intro-subtitle{
        font-size: 14px;
    }

    .search-form__field{
        margin-right: 0;
        width: 100%;
        padding-bottom: 12px;
        background: transparent url(../img/svg/Oval.svg) no-repeat left 2px;
    }

    .search-form__field::placeholder{
        font-size: 16px;
    }

    .serach-form_submit{
        width: 100%;
    }

    .benefits{
        margin-bottom: 36px;
    }

    .benefits__card{
        grid-column: span 3;
        margin-bottom: 40px;
    }

    .benefits__card-pic{
        margin-bottom: 20px;
    }
    
    .benefist_card-title{
        margin-bottom: 12px;
    }

    .benefits__card-desc{
        margin-bottom: 20px;
    }

    .places{
        margin-bottom: 76px;
    }

   .places_card_size_lg, .places_card_size_sm{
       height: 230px;
   }

   .places_view-all{
       margin-bottom: 25px;
   }

   .places__caption{
      margin-bottom: 0;
   }

   .tours{
       margin-bottom: 76px;
   }

   .tour_pic{
    margin-bottom: 12px;
   }

   .tour_pic, .tour_info{
    grid-column: span 2;
   }

   .tour_pic_mob-first{
       grid-row-start: -1;
   }

   .tours_tour{
       margin-bottom: 50px;
   }

   .top{
       margin-bottom: 76px;
   }

   .top__card{
       grid-column: span 6;
   }

   .top_card-stats{
       max-width: 386px;
   }

   .top__card-desc{
       margin-bottom: 15px;
   }

   .footer-logo{
    width: 100%;
    margin-bottom: 24px;
   }

   .footer_nav{
       width: 100%;
   }

   .footerm__menu{
       width: 50%;
       margin-bottom: 24px;
   }



}

@media screen and (max-width: 500px){
    .header_nav{
        padding: 75px 30px;
    }
}


/*media end*/